trigger:
  branches:
    include:
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  # --- Make sure these values are correct ---
  AZURE_SERVICE_CONNECTION: 'AzureServiceConnection'
  AZURE_CONTAINER_REGISTRY: 'taskapiregistrycd123.azurecr.io' # Your ACR name
  WEB_APP_NAME: 'task-api-app-cd123' # Your App Service name
  # --- System Variables ---
  DOCKER_IMAGE_NAME: 'task-api'
  IMAGE_TAG: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: 'Build and Push Docker Image'
  jobs:
  - job: BuildJob
    displayName: 'Build, Tag, and Push Image to ACR'
    steps:
    
    # Step 1: Log in to Azure Container Registry using the Azure CLI
    # This is the most reliable way to authenticate.
    - task: AzureCLI@2
      displayName: 'Login to ACR'
      inputs:
        azureSubscription: '$(AZURE_SERVICE_CONNECTION)'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          az acr login --name $(AZURE_CONTAINER_REGISTRY)

    # Step 2: Build the Docker image
    - task: Docker@2
      displayName: 'Build Docker Image'
      inputs:
        command: 'build'
        repository: '$(DOCKER_IMAGE_NAME)'
        # We must fully qualify the image name with the registry address
        dockerfile: 'Dockerfile'
        tags: '$(IMAGE_TAG)'
        # We add the registry name to the image name here
        arguments: '--tag $(AZURE_CONTAINER_REGISTRY)/$(DOCKER_IMAGE_NAME):$(IMAGE_TAG)'

    # Step 3: Push the Docker image
    - task: Docker@2
      displayName: 'Push Image to ACR'
      inputs:
        command: 'push'
        repository: '$(DOCKER_IMAGE_NAME)'
        # We use the fully qualified image name to push
        tags: '$(IMAGE_TAG)'
        # We must specify the registry name here again
        arguments: '$(AZURE_CONTAINER_REGISTRY)/$(DOCKER_IMAGE_NAME):$(IMAGE_TAG)'


- stage: Deploy
  displayName: 'Deploy to App Service'
  dependsOn: Build
  condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'master'))
  jobs:
  - deployment: DeployToWebApp
    displayName: 'Deploy Web App'
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          # This task was already correct.
          - task: AzureWebAppContainer@1
            displayName: 'Deploy to Azure App Service'
            inputs:
              azureSubscription: '$(AZURE_SERVICE_CONNECTION)'
              appName: '$(WEB_APP_NAME)'
              containers: '$(AZURE_CONTAINER_REGISTRY)/$(DOCKER_IMAGE_NAME):$(IMAGE_TAG)'